h1 {
  color: RED;
  text-align:center;
}

.grid-container {
  display: grid;
	grid-template-areas:
  'header header header'
	'left1 middle1 right1'
  'left2 middle2 right2'
  'footer footer footer';
	grid-column-gap: 50px;
  justify-content: space-evenly;
  align-content: space-evenly;
  max-height:800px;
}

.grid-item {
	background-color: white;
  text-align:center;
  justify-self: stretch;
}

.grid-item div {
  min-height:100px;
  min-width:100px;
  background-color:lightyellow;
}

.header {
  grid-area:header;
}

.consolein {
  grid-area:left1;
}


.consoleout {
  grid-area:left2;
}


.console ul {
  list-style-type: none;
  text-align:left;
  font-family:monospace;
  max-height:400px;
  overflow:auto;
}

.av {
  grid-area:middle1;
}

.telemetry {
  grid-area:right1;
}

.control {
  grid-area:footer;
}

.grid-item h2 {
  color: BLUE;
  text-align:center;
}
